n8n/cognee-retrieve-one.json
[
  {
    "updatedAt": "2026-07-07T07:05:00.000Z",
    "createdAt": "2026-07-04T10:40:00.807Z",
    "id": "5uv43KZGPL1Icge9",
    "name": "Cognee Retrieve One",
    "description": "Shared retrieval unit. CHUNKS search is the existence gate; a Groq judge (gpt-oss-120b) decides if relevant content exists. Only if it does does GRAPH_COMPLETION run for the cross-note answer. Empty gate -> NOT_IN_NOTES, GRAPH_COMPLETION never fires. Returns {answer, sources, grounded}.",
    "active": true,
    "isArchived": false,
    "nodes": [
      {
        "id": "345b626c-a328-41bc-8ba3-f7ad8d2d368c",
        "name": "When Called",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.2,
        "position": [
          260,
          300
        ],
        "parameters": {
          "inputSource": "passthrough"
        }
      },
      {
        "id": "0c023e15-fe12-4ced-bd43-881d32285792",
        "name": "Cognee Search",
        "type": "n8n-nodes-cognee.cognee",
        "typeVersion": 1,
        "position": [
          480,
          300
        ],
        "parameters": {
          "resource": "search",
          "operation": "search",
          "searchType": "CHUNKS",
          "datasets": [
            "zettelkeistan_v3"
          ],
          "query": "={{ $json.query }}",
          "topK": 5
        },
        "credentials": {
          "cogneeApi": {
            "id": "rvhw3tMxtNWBoYSU",
            "name": "Cognee account"
          }
        }
      },
      {
        "id": "3415ee2c-e354-4c47-bd57-835434bb7967",
        "name": "Format Chunks",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          700,
          300
        ],
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "// Extract raw chunk texts from the Cognee CHUNKS response (defensive on shape).\nconst items = $input.all();\nlet chunks = [];\nfunction pushText(c){\n  if(!c) return;\n  if(typeof c === 'string'){ if(c.trim()) chunks.push(c); }\n  else if(typeof c === 'object' && c.text){ chunks.push(c.text.toString()); }\n}\nfor(const it of items){\n  const j = it.json || {};\n  if(Array.isArray(j.search_result)) j.search_result.forEach(pushText);\n  else if(Array.isArray(j)) j.forEach(pushText);\n  else if(j.text) pushText(j);\n  else if(j.search_result) pushText(j.search_result);\n}\nchunks = [...new Set(chunks.filter(Boolean))];\nconst chunksText = chunks.map((c,i)=>'['+(i+1)+'] '+c).join('\\n\\n');\nconst query = ($('When Called').first().json.query || '').toString();\nreturn [{ json: { query, chunks, chunksText } }];\n"
        }
      },
      {
        "id": "15d7ed1b-ccb9-421c-b174-59a1730d4ef4",
        "name": "Groq Judge",
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3.1,
        "position": [
          940,
          300
        ],
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.query }}",
          "options": {
            "systemMessage": "=You are a relevance gate, not an answerer. Below are excerpts retrieved from the user's personal notes. Decide whether these excerpts actually contain information relevant to answering the user's question.\n\nRespond with exactly ONE word:\n- RELEVANT  \u2014 if the excerpts contain content that addresses the question.\n- NOT_IN_NOTES \u2014 if they do not.\n\nDo NOT answer the question. Do NOT use outside knowledge. Output only the single word.\n\nNote excerpts:\n{{ $json.chunksText }}",
            "enableStreaming": false
          }
        }
      },
      {
        "id": "5d527371-6e98-459a-b1fb-4dc16f8452f0",
        "name": "Groq Judge Model",
        "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
        "typeVersion": 1,
        "position": [
          940,
          480
        ],
        "parameters": {
          "model": "openai/gpt-oss-120b",
          "options": {
            "temperature": 0.2
          }
        },
        "credentials": {
          "groqApi": {
            "id": "woCh9CG7qUGXmSCX",
            "name": "Groq account"
          }
        }
      },
      {
        "id": "f549940c-3720-4189-8eca-184e1f0ad4b9",
        "name": "Parse Judge",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1200,
          300
        ],
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "// Relevance gate. RELEVANT => allow GRAPH_COMPLETION; anything else => NOT_IN_NOTES.\nlet raw = ($input.first().json.output || '').toString();\nraw = raw.replace(/<think>[\\s\\S]*?<\\/think>/gi,'')\n         .replace(/<\\|think\\|>[\\s\\S]*?<\\|\\/?think\\|>/gi,'')\n         .replace(/<\\|?\\/?think\\|?>/gi,'').trim();\nconst notIn = /NOT_IN_NOTES/i.test(raw);\nconst rel = /RELEVANT/i.test(raw);\nconst relevant = rel && !notIn;              // ambiguous/empty => NOT relevant (safe)\nconst gate = relevant ? 'relevant' : 'empty';\nconst fc = $('Format Chunks').first().json;\nreturn [{ json: { gate, grounded: relevant, query: (fc.query||'').toString(), chunks: fc.chunks || [] } }];\n"
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 2
            },
            "conditions": [
              {
                "id": "g1",
                "leftValue": "={{ $json.gate }}",
                "rightValue": "relevant",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "3e62af8b-5244-4041-ae1b-e7c4e4415e0a",
        "name": "IF Grounded",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          1440,
          300
        ]
      },
      {
        "parameters": {
          "resource": "search",
          "operation": "search",
          "searchType": "GRAPH_COMPLETION",
          "datasets": [
            "zettelkeistan_v3"
          ],
          "query": "={{ $json.query }}",
          "topK": 10
        },
        "id": "97d519e8-0465-4a35-b7fe-e99acb50e023",
        "name": "Graph Answer",
        "type": "n8n-nodes-cognee.cognee",
        "typeVersion": 1,
        "position": [
          1680,
          200
        ],
        "credentials": {
          "cogneeApi": {
            "id": "rvhw3tMxtNWBoYSU",
            "name": "Cognee account"
          }
        }
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "// GRAPH_COMPLETION result -> grounded answer; sources are the gated chunks.\nconst items = $input.all();\nlet parts = [];\nfunction push(c){ if(c==null) return; if(typeof c==='string'){ if(c.trim()) parts.push(c); }\n  else if(typeof c==='object' && c.text){ parts.push(c.text.toString()); }\n  else { const s=JSON.stringify(c); if(s && s!=='{}') parts.push(s); } }\nfor(const it of items){ const j=it.json||{};\n  if(Array.isArray(j.search_result)) j.search_result.forEach(push);\n  else if(Array.isArray(j)) j.forEach(push);\n  else if(j.search_result!=null && j.search_result!=='') push(j.search_result);\n  else if(j.text) push(j); }\nlet answer = parts.filter(Boolean).join('\\n\\n').trim();\nif(!answer) answer='NOT_IN_NOTES';\nconst sources = $('Format Chunks').first().json.chunks || [];\nreturn [{ json: { answer, sources: answer==='NOT_IN_NOTES'?[]:sources, grounded: answer!=='NOT_IN_NOTES' } }];\n"
        },
        "id": "8f307be5-43fe-42fe-b205-20b85680de53",
        "name": "Format Graph",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1920,
          200
        ]
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "return [{ json: { answer: 'NOT_IN_NOTES', sources: [], grounded: false } }];"
        },
        "id": "812e59e9-0c9b-40a1-a901-9adfe48e5637",
        "name": "Not In Notes",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1680,
          420
        ]
      }
    ],
    "connections": {
      "When Called": {
        "main": [
          [
            {
              "node": "Cognee Search",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Cognee Search": {
        "main": [
          [
            {
              "node": "Format Chunks",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format Chunks": {
        "main": [
          [
            {
              "node": "Groq Judge",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Groq Judge Model": {
        "ai_languageModel": [
          [
            {
              "node": "Groq Judge",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Groq Judge": {
        "main": [
          [
            {
              "node": "Parse Judge",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Judge": {
        "main": [
          [
            {
              "node": "IF Grounded",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF Grounded": {
        "main": [
          [
            {
              "node": "Graph Answer",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Not In Notes",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Graph Answer": {
        "main": [
          [
            {
              "node": "Format Graph",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "availableInMCP": true
    },
    "staticData": null,
    "meta": {
      "aiBuilderAssisted": true,
      "builderVariant": "mcp"
    },
    "nodeGroups": [],
    "pinData": null,
    "versionId": "0a64a1dd-7dd2-48c7-88b6-67ec000ddc6a",
    "activeVersionId": "0a64a1dd-7dd2-48c7-88b6-67ec000ddc6a",
    "versionCounter": 4,
    "triggerCount": 0,
    "sourceWorkflowId": null,
    "tags": [],
    "shared": [
      {
        "updatedAt": "2026-07-04T10:40:00.809Z",
        "createdAt": "2026-07-04T10:40:00.809Z",
        "role": "workflow:owner",
        "workflowId": "5uv43KZGPL1Icge9",
        "projectId": "S86c7EPeVU37mKZK",
        "project": {
          "updatedAt": "2026-06-16T07:25:59.747Z",
          "createdAt": "2026-06-16T07:24:59.347Z",
          "id": "S86c7EPeVU37mKZK",
          "name": "Sanjith Saravanan <sanjay200617@gmail.com>",
          "type": "personal",
          "icon": null,
          "description": null,
          "customTelemetryTags": [],
          "creatorId": "433c1b86-b399-43fd-ad66-a983d5a77276"
        }
      }
    ],
    "versionMetadata": {
      "name": "Version a63320d5",
      "description": ""
    }
  }
]