n8n/zettelkeistan-sync-worker.json
[
  {
    "updatedAt": "2026-07-05T07:56:00.245Z",
    "createdAt": "2026-07-05T07:56:00.245Z",
    "id": "C68CgGpRqaGBZaGi",
    "name": "Zettelkeistan Sync Worker",
    "description": "Cron sync worker: every 20 min, GET /api/sync/status; if pending or pending_removals > 0, POST /api/sync/run (server chunks+adds under node_set, syncs removals, cognifies once only if data landed). Never cognifies on an empty queue.",
    "active": true,
    "isArchived": false,
    "nodes": [
      {
        "id": "00e772ae-45d1-4d6b-8378-3911dee20077",
        "name": "Every 20 Minutes",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          0,
          0
        ],
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "minutes",
                "minutesInterval": 20
              }
            ]
          }
        }
      },
      {
        "id": "31a31e4c-dd43-44d7-835c-230e3f68ac31",
        "name": "Get Sync Status",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          224,
          0
        ],
        "parameters": {
          "method": "GET",
          "url": "http://zettelkeistan:8000/api/sync/status"
        }
      },
      {
        "id": "90dfa4f6-10f5-408b-9038-7d160731bcfa",
        "name": "Queue Has Work?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          448,
          0
        ],
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose"
            },
            "combinator": "or",
            "conditions": [
              {
                "leftValue": "={{ $json.pending }}",
                "operator": {
                  "type": "number",
                  "operation": "gt"
                },
                "rightValue": 0
              },
              {
                "leftValue": "={{ $json.pending_removals }}",
                "operator": {
                  "type": "number",
                  "operation": "gt"
                },
                "rightValue": 0
              }
            ]
          }
        }
      },
      {
        "id": "c8907f7f-8444-48f5-b01e-3923ede662ff",
        "name": "Run Sync Sweep",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          672,
          0
        ],
        "parameters": {
          "method": "POST",
          "url": "http://zettelkeistan:8000/api/sync/run",
          "options": {
            "timeout": 600000
          }
        }
      }
    ],
    "connections": {
      "Every 20 Minutes": {
        "main": [
          [
            {
              "node": "Get Sync Status",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Sync Status": {
        "main": [
          [
            {
              "node": "Queue Has Work?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Queue Has Work?": {
        "main": [
          [
            {
              "node": "Run Sync Sweep",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "availableInMCP": true
    },
    "staticData": {
      "node:Every 20 Minutes": {
        "recurrenceRules": []
      }
    },
    "meta": {
      "aiBuilderAssisted": true,
      "builderVariant": "mcp"
    },
    "nodeGroups": [],
    "pinData": null,
    "versionId": "479b16c1-33e0-4520-ae34-4a79153fa6ae",
    "activeVersionId": "479b16c1-33e0-4520-ae34-4a79153fa6ae",
    "versionCounter": 1,
    "triggerCount": 1,
    "sourceWorkflowId": null,
    "tags": [],
    "shared": [
      {
        "updatedAt": "2026-07-05T07:56:00.248Z",
        "createdAt": "2026-07-05T07:56:00.248Z",
        "role": "workflow:owner",
        "workflowId": "C68CgGpRqaGBZaGi",
        "projectId": "S86c7EPeVU37mKZK",
        "project": {
          "updatedAt": "2026-06-16T07:25:59.747Z",
          "createdAt": "2026-06-16T07:24:59.347Z",
          "id": "S86c7EPeVU37mKZK",
          "name": "Sanjith Saravanan <sanjay200617@gmail.com>",
          "type": "personal",
          "icon": null,
          "description": null,
          "customTelemetryTags": [],
          "creatorId": "433c1b86-b399-43fd-ad66-a983d5a77276"
        }
      }
    ],
    "versionMetadata": {
      "name": null,
      "description": null
    }
  }
]